.upgradingUI-copy {
  h1 {
    font-size: 50px;
  }
}

.under-construction-copy {
  color: grey;
}

.privacy-policy-copy {
  color: #FFFFFF;

  h1 {
    font-size: 20px;
    font-family: Proxima Nova, sans-serif;
  }

  p {
    font-family: Proxima Nova, sans-serif;
  }
}
