// Primary color scheme colors
$primary-green: #00DD00;
$primary-white: #FFFFFF;
$primary-indigo: #08BDBD;
$primary-red: #F21B3F;

// Accent color scheme colors
$accent-purple: #161925;
$accent-orange: #FF9914;


// Header Font Families



// Paragraph Font Families
