// Primary color scheme colors
$primary-white: #FFFFFF;
$primary-grey: lightgrey;
$primary-green: #00DD00;
$primary-indigo: #08BDBD;
$primary-red: #F21B3F;

// Accent color scheme colors
$accent-purple: #592E83;
$accent-orange: #FF9914;


// Header Font Families
$h-font-family-1: Raleway;
$h-font-family-2: Bungee Hairline;
$p-font: Roboto Condensed;



// Paragraph Font Families
