.main-nav {
  background-color: $primary-white;
  width: 100%;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid $accent-orange;
	padding: 20px 0;

  ul{
    padding: 0;
		list-style-type: none;

    div {

			li{
	      display: inline;
	      text-align: center;
	      width: 25%;
				border: none;

		    a {
		    	color: $accent-purple;
					font-size: 20px;
		    	text-decoration: none;
          font-family: $p-font;
		    }
		    a:hover {
		    	color: $primary-red;
					text-decoration: none;
		    }
			}
			@media (min-width: 300px) and (max-width: 992px) {
				width: 100%;
				padding: 20px 0;
				border-bottom: 1px solid $primary-green;

				&:last-child {
					border: none;
				}
			}
		}
  }
	@media (min-width: 300px) and (max-width: 992px) {
		padding: 5px 0;
	}
}


.spinner {
  margin: 40px auto;
  height: 70px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary-green;
  height: 100%;
  width: 10px;
  display: inline-block;
  margin: 0 5px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
