/* ----------------------------------------
|
| Universal CSS Selector Modules
|
------------------------------------------*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flexbox-aligner {
  display: flex;
  align-items: center;
  // min-height: 24em;
  justify-content: center;
}
